{% extends "newbase.html" %}
{% load static %}

{% block title %}
Quiz App
{% endblock %}


{% block content %}


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h1>Quiz App</h1>
        </div>

    </div>


    <div class="row">
        <div class="col-sm-6">
            <label> A <input   class="form-check-input form-control" name="option" type="radio"></label>
        </div>
        <div class="col-sm-6">
            <label> B <input   class="form-check-input form-control"  name="option"  type="radio"></label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <label> C <input  class="form-check-input form-control"  name="option"  type="radio"></label>
        </div>
        <div class="col-sm-6">
            <label> D <input   class="form-check-input form-control"  name="option"  type="radio"></label>
        </div>
    </div>
</div>


{% endblock %}
